@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable][placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
}

[contenteditable] {
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: text;
  white-space: pre-wrap;
}